#webname{
    background-color: dodgerblue;
    border-bottom-style: outset;
   
    text-align: center; 
    border-style: dashed;
    border-color: black;
    font-size: 40px;
    font-family: cursive;
        
   
    
   
        
    
}
#pic{
    
    display: block;
    margin: auto;
    
}
#history{
    border-color: black;
    background-color:#9ec0f7;
    border-style: solid;
    font-size: 18px;
    
}
#pic3{
    width: 500px;
    display: block;
    margin: auto;
    border: solid;
    
}
#pic4{
    width: 560px;
    display: block;
    margin: auto;
}

#wade{
    background-color: #9ec0f7;
    font-size: 18px;
    
    
    
    border-color: black;
    border-style: solid;
    
    
    
    
    
    
    
}

#March{
    text-align: center
    
    
    
    
}
#truth{
    text-align: center
    
    
    
}
#us{
    text-align: center;
    font-size: 24px;
        
    
    
    
    
}


#abbs{
    

    
    
    
    
}
#sick{
    border-style: solid;
    background-color:#9ec0f7; 
    font-size: 19px;
      
    
    
    
    
}

#picture{
    width:500px;
    display: block;
    margin: auto;
    
    
   
    
    
    
}
#students{
    border-style: solid;
    background-color: #9ec0f7;
    font-size: 18px;
        
    
    
}
#picture5{
    width: 500px;
    display: block;
    margin: auto;
    
    
}
#picture6{
    display: block;
    margin: auto;
    
    
    width: 500px;
}
#picture7{
    
    width: 500px;
    display: block;
    margin: auto;
    
}
#students2{
    text-align: center;
    
}
#picture2{
    width: 560px;
   align-items: center;
    display: block;
    margin: auto;
    
    
    
}
#timeline2{
    
    text-align: center
}
#birth2{
    
    text-align: center
}

#birth{
    
    background-color: #9ec0f7;
    border-style: solid;
    font-size: 20px;
        
}
#timeline{
    background-color: #9ec0f7;
    border-style: solid;
    font-size: 18px;
        
    
    
}
#final{
    border-style: dotted;
    background-color: #9ec0f7; 
    font-size: 18px;
    font-family: cursive
      

}
#survey{
    font-size: 20px;
   
    background-color: skyblue
}

#final2{
    text-align: center;
    
    
    
}
#picture8{
    width: 500px;
    display: block;
    margin: auto;
    
}
#picture9{
    width: 500px;
    display: block;
    margin: auto;
    
}
#picture10{
    width: 500px;
    display: block;
    margin: auto;
    
}
#picture11{
    width: 550px;
    display:block;
    margin: auto
}
#welcome{
    background-color: #9ec0f7;
    border-style: dotted;
    font-family: cursive;
    font-size: 20
}


        
    
    
    
    

html{
    background-color:#c1f0ff;
    
    
    
    
    
}



